{% extends 'employee/base.html' %}

{% block content %}

<form action="" method="GET" class="form-inline mt-2 mb-3">
  {{ form }}  
  <button type="submit" class="btn btn-primary ml-2 mt-3">
    <i class="fas fa-search"></i> 検索</button>
  
</form>

<div class="table-responsive">
<table class="table table-bordered table-hover mt-4">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>姓</th>
      <th>名</th>
      <th>性別</th>
      <th>配属</th>
      <th>雇用形態</th>
      <th>パスワード</th>
      <th>電話番号</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employee_list %}
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.sex }}</td>
      <td>{{ employee.department }}</td>
      <td>{% for status in employee.status.all %}{{ status }} {% endfor %}</td>
      <td>{{ employee.password }}</td>
      <td>{{ employee.phone_number }}</td>

      <td>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#employeeModal{{ employee.id }}">
          詳細
        </button>
      </td>
    </tr>


    <!--詳細のクラス-->
    <div class="modal fade" id="employeeModal{{ employee.id }}" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="employeeModalLabel">{{ employee.first_name }} {{ employee.last_name }} の詳細</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>性別:</strong> {{ employee.sex }}</p>
            <p><strong>配属:</strong> {{ employee.department }}</p>
            <p><strong>雇用形態:</strong> {% for status in employee.status.all %}{{ status }} {% endfor %}</p>
            <p><strong>電話番号:</strong> {{ employee.phone_number }}</p>
            <!-- 他の詳細情報を追加 -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>


    
    {% endfor %}
  </tbody>
</table>
</div>


{% include 'employee/page5.html' %}



{% endblock %}
